<html>
    <head>
        <title>
            Avdhoot's Blog
        </title>
    </head>
    <body>
        <div>
            <h1><a href="/">AJ's Blogs</a></h1>
        </div>
        <div>
            <p>Published on 13 October</p>
            <h2><a href="/">My First Blog</a></h2>
            <p>Hello guy, I will basically talking about anime to watch out for. So pls stay tuned.</p>
            <h2><a href="/">Anime to Watch Out</a></h2>
            <p>Hello guys now I will be listing the anime you need to watch or the best ones:
                1. One Piece
                2. Naruto Shippudden
                3. Steins Gate
                4. Hunter x Hunter
                5. Black Clover
                6. My Hero Academia
                7. Attack On Titan
            </p>
        </div>
    </body>
</html>