<html>
    <head>
        <title>
            Avdhoot's Blog
        </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1>AJ's Blogs</h1>
        </div>
        {%for post in posts%}
        <div>
            <h2>{{post.title}}</h2>
            <p>published:{{post.published_date}}</p>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor%}
    </body>
</html>