<html>
    <head>
        <title>
            Avdhoot's Blog
        </title>
    </head>
    <body>
        <div>
            <h1><a href="/">AJ's Blogs</a></h1>
        </div>
        <div>
            <p>Published on 13 October</p>
            <h2><a href="/">My First Blog</a></h2>
            <p>Hello guy, I will basically talking about anime to watch out for. So pls stay tuned.</p>
            <h2><a href="/">Anime to Watch Out</a></h2>
            <p>Hello guys now I will be listing the anime you need to watch or the best ones:<br></p>
            <p> 1. One Piece </p>
            <p> 2. Naruto Shippudden</p>
            <p> 3. Steins Gate</p>
            <p> 4. Hunter x Hunter</p>
            <p> 5. Black Clover</p>
            <p> 6. My Hero Academia</p>
            <p> 7. Attack On Titan
            </p>
        </div>
        <div>
           <h2><a href="/">Upcoming Anime</a></h2>
           <p>On December 7 Attack On Titans Final Season will be streamed on NHK General. In India it is 
               expected to be same date. Then My hero Academia will stream in Spring of 2021. One Piece is continuing
               to release new episodess with epic speed currently Wano Kingdom Arc. So stay tuned for more such
               updates.
           </p> 
        </div>
    </body>
</html>